@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-image: url("images/фон.jpg");
    background-size: cover;
    min-height: 100vh;
    margin: 10px;
    color: #fff;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 26, 26, 0.186);
    z-index: -1;
}

h1,
h2,
h3 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #ffffff;
}

p,
a {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    text-decoration: none;
}

.header {
    display: flex;
    align-items: center;
    background-color: #001f18;
    padding: 10px;
    position: relative;
    height: 150px;
}

.header-data {
    position: absolute;
    text-align: center;
    width: 100%;
}

.header-data_logo {
    max-width: 150px;
}

.header-data_contacts {
    margin-left: auto;
    text-align: right;
}

.navigation-list,
.about-list,
.collection-list {
    display: flex;
    justify-content: space-around;
    padding: 0;
    list-style: none;
}

.navigation-list li {
    margin-bottom: 5px;
}

.about-list,
.collection-list {
    font-size: 600;
    font-weight: bold;
    background: linear-gradient(90deg, #00381a, #fff, #000);
    background-size: 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 5s linear infinite;
}

@keyframes shine {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 200%;
    }
}

.main {
    display: block;
    text-align: center;
    padding: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery-item {
    max-width: 380px;
    max-height: 200px;
    margin: 20px;
    text-align: center;
    overflow: hidden;
    width: auto;
    height: auto;
    object-fit: contain;
}

.gallery-custom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery-custom_item {
    width: 300px;
    margin-bottom: 20px;

}

.gallery-custom_item img {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    object-fit: cover;

}

.slider-container {
    position: relative;
    width: 600px;
    margin: 0 auto;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    width: 100%;
    height: auto;
    width: 600px;
    height: 400px;
    flex-shrink: 0;
}

.slide img {
    width: 100%;
    height: auto;
    display: block;
}

.slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 10;
}

.slider-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.contact-info {
    margin-bottom: 20px;
}

.map-container {
    margin-top: 20px;
}

.map-container iframe {
    width: 100%;
    height: 400px;
    border: 0;
}

.contact-container {
    margin-top: 20px;
}

.form-contacts,
.form-discuss {
    margin-bottom: 15px;
}

.form-contacts,
.form-discuss label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-contacts input[type="text"],
.form-contacts input[type="tel"],
.form-contacts textarea,
.form-discuss textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-contacts,
.form-discuss textarea {
    resize: vertical;
}

.button {
    background-color: #001f18;
    color: white;
    padding: 10px 20px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #3e8e41;
}

.cta-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #001f18;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #00ddff6b;
}

.active {
    color: #001f18;
}

a:hover {
    color: #00ddff6b;
}

.footer {
    text-align: center;
    padding: 10px;
}

/* для телефона */

@media (max-width: 767px) {

    .header {
        height: auto;
        text-align: center;
    }

    .header-data_logo {
        width: 5vh;
        margin: 0;
    }

    .navigation-list {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .slider-container {
        width: 90%;
    }

    .slider-container {
        position: relative;
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
    }

    .slider {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }

    .slide img {
        width: 100%;
        height: auto;
        display: block;
    }
}

/* для планшета */

@media (min-width: 768px) and (max-width: 991px) {
    .navigation-list {
        justify-content: space-around;
    }

    .header-data {
        position: absolute;
        text-align: center;
        width: 100%;
    }

    .header-data_contacts {
        text-align: right;
        margin-left: auto;
    }

    .header-data_logo {
        margin: 0;
    }

    .slider-container {
        width: 80%;
    }

    .slide {
        width: 100%;
        height: auto;
    }

}
